<div class="centered container col-lg-6">

    <div class="card">
        <div class="card-body">
            <form #loginForm class="form-group" (keyup.enter)="handleLogin()">
                <div class="alert alert-warning" *ngIf='invalidLogin'>{{ errorMessage }}</div>

                <div class="form-group">
                    <label for="username">Username</label>
                    <input #usernameInput
                           [(ngModel)]="username"
                           class="form-control"
                           id="username"
                           name="username"
                           autocomplete="off"
                           required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input [(ngModel)]="password"
                           type="password"
                           class="form-control"
                           id="password"
                           name="password"
                           autocomplete
                           required>
                </div>

                <app-file-upload placeholder="Choose your private key PEM file"
                                 (fileChange)="handlePrivateKeyFileInput($event)">
                </app-file-upload>

                <p-progressSpinner *ngIf="spinnerVisible" styleClass="center-spinner"></p-progressSpinner><br/>
                <p-button label="Login"
                          styleClass="full-width"
                          [disabled]="spinnerVisible || !loginForm.checkValidity()"
                          (onClick)="handleLogin()">
                </p-button>
            </form>
        </div>
    </div>

</div>
