<br/>
<div class="container">

  <div class="form-group">
    <label>Creator username:</label>
    <input type="text"
           class="form-control"
           [(ngModel)]="creatorUsername"
           (ngModelChange)="checkIfUploadButtonShouldBeDisabled()">
  </div>

  <div class="form-group">
    <label>Share to username:</label>
    <input type="text"
           class="form-control"
           [(ngModel)]="sharedToUsername"
           (ngModelChange)="checkIfUploadButtonShouldBeDisabled()">
  </div>

  <app-file-upload placeholder="Choose a document"
                   (fileChange)="handleDocumentFileInput($event)">
  </app-file-upload>
  <br/>

  <p-button label="Upload" [disabled]="disableUploadButton" (onClick)="uploadDocument()"></p-button>

</div>
