<br/>
<div class="container">
  <div class="alert alert-success" *ngIf='uploadSuccess'>File uploaded.</div>
  <div class="alert alert-danger" *ngIf='uploadError'>Upload error.</div>

  <form #uploadForm>
    <div class="form-group">
      <label>Share to:</label><br/>
      <p-dropdown [options]="users"
                  [(ngModel)]="sharedToUser"
                  name="sharedToUsername"
                  optionLabel="username"
                  [required]="true">
      </p-dropdown>
    </div>

    <app-file-upload placeholder="Choose a document"
                     (fileChange)="handleDocumentFileInput($event)">
    </app-file-upload>
    <br/>

    <p-progressSpinner *ngIf="spinnerVisible" styleClass="center-spinner"></p-progressSpinner><br/>
    <p-button label="Upload" [disabled]="spinnerVisible || !uploadForm.checkValidity()" (onClick)="uploadDocument()"></p-button>
  </form>
</div>
