<div class="centered container col-lg-6">

    <div class="card">
        <div class="card-body">
            <form #registerForm class="form-group" (keyup.enter)="handleRegister()">
                <div class="alert alert-warning" *ngIf='invalidRegisterCall'>{{ errorMessage }}</div>

                <div class="form-group">
                    <label for="username">Username</label>
                    <input #usernameInput
                           [(ngModel)]="username"
                           class="form-control"
                           id="username"
                           name="username"
                           autocomplete="off"
                           required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input [(ngModel)]="password"
                           type="password"
                           class="form-control"
                           id="password"
                           name="password"
                           autocomplete
                           required>
                </div>

                <app-file-upload placeholder="Choose a public key PEM file"
                                 (fileChange)="handleFileInput($event)">
                </app-file-upload>
                <br/>

                <p-progressSpinner *ngIf="spinnerVisible" styleClass="center-spinner"></p-progressSpinner>
                <br/>

                <div class="flex-wrapper">
                    <p-button label="Back"
                              class="almost-half-width"
                              styleClass="full-width p-button-secondary"
                              (onClick)="navigateToLogin()">
                    </p-button>
                    <p-button label="Register"
                              class="almost-half-width"
                              styleClass="full-width"
                              [disabled]="spinnerVisible || !registerForm.checkValidity()"
                              (onClick)="handleRegister()">
                    </p-button>
                </div>
            </form>
        </div>
    </div>

</div>
